{% extends "base.html" %}

{% block content %}
    <div class="">
        <img src="{{ object.photo.url }}" alt="{{ object.model }} - {{ object.brand }}">
        <h2> {{object.brand }} {{ object.model }} </h2>
        <p><strong> Ano de fabricação:</strong>{{ object.factory_year }}</p>
        <p><strong> Ano de modelo:</strong>{{ object.model_year }}</p>
        <p><strong> Placa:</strong>{{ object.plate }}</p>
        <p><strong> Preço:</strong>{{ object.value }}</p>
    </div>
{% endblock content %}