{% extends "base.html" %}

{% block content %}
    <div class="p-3 border rounded">
        {% if object.photo %}
            <img src="{{ car.photo.url }}" class="card-img-top container-fluid mt-3 mb-3" alt="{{ car.model }} - {{ car.brand }}">
        {% else %}
            <img src="path/para/imagem/default.jpg" class="card-img-top container-fluid mt-3 mb-3" alt="{{ car.model }} - {{ car.brand }}">
        {% endif %}
        <h2 class="text-center text-secondary mb-3" >{{ object.model }}</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Marca</th>
                    <td>{{object.brand }}</td>
                </tr>
                <tr>
                    <th scope="row">Ano de fabricação</th>
                    <td>{{ object.factory_year }}</td>
                </tr>
                <tr>
                    <th scope="row">Ano de modelo</th>
                    <td>{{ object.model_year }}</td>
                </tr>
                <tr>
                    <th scope="row">Placa</th>
                    <td>{{ object.plate }}</td>
                </tr>
                <tr>
                    <th scope="row">Preço</th>
                    <td>{{ object.value }}</td>
                </tr>
                
                <tr>
                    {% if object.bio %}
                        <th scope="row">Bio</th>
                        <td>{{ object.bio }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
    {% if user.is_authenticated %}
        <div class="mt-3">
            <a href="{% url 'car_update' pk=object.pk %}" class="btn btn-secondary">Editar</a>
            <a href="{% url 'car_delete'  pk=object.pk %}" class="btn btn-danger">Deletar</a>
        </div>
    {% endif %}

{% endblock content %}