{% extends "base.html" %}
  {% block content %}

    <!-- Formulário de Busca -->
    <div class="container mb-4">
      <form method="GET" action="{% url 'cars_list' %}" class="d-flex">
        <input type="text" class="form-control me-2" name="search" placeholder="Buscar carro...">
        <button class="btn btn-primary" type="submit">Buscar</button>
      </form>
    </div>

    <!-- Lista de Carros -->
    <main class="container">
      {% if cars %}
        <div class="row">
          {% for car in cars %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              {% if car.photo %}
                <img src="{{ car.photo.url }}" class="card-img-top container-fluid mt-3 mb-3" alt="{{ car.model }} - {{ car.brand }}">
              {% else %}
                <img src="path/para/imagem/default.jpg" class="card-img-top container-fluid mt-3 mb-3" alt="{{ car.model }} - {{ car.brand }}">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
                <p class="card-text">{{ car.factory_year }} - R$ {{ car.value }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% else %}
        <p class="no-results text-center">Nenhum carro encontrado.</p>
      {% endif %}
    </main>

    <!-- Scripts Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
  {% endblock content %}
