{% extends "base.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            {{ login_form.username.errors }}
            <label class="form-label" >Usuário:</label>
            {{ login_form.username }}
        </div>
        <div class="mb-3">
            {{ login_form.password.errors }}
            <label class="form-label" >Senha:</label>
            {{ login_form.password }}
        </div>
        <div class="mb-3">
            <input type="submit" value="Entrar" class="btn btn-primary">
        </div>
        
    </form>
{% endblock content %}