{% extends "base.html" %}

{% block content %}
    <h2>Fazer Cadastro</h2>
    <form method="post" class="p-3 border rounded">
        {% csrf_token %}
        <div class="mb-3 d-flex flex-column">
            {{ user_form.username.errors }}
            <label class="form-label">Usuário:</label>
            {{ user_form.username }}
        </div>
        <div class="mb-3 d-flex flex-column"> 
            {{ user_form.password1.errors }}
            <label class="form-label">Senha:</label>
            {{ user_form.password1 }}
        </div>
        <div class="mb-3 d-flex flex-column">
            {{ user_form.password2.errors }}
            <label class="form-label">Confirmar senha:</label>
            {{ user_form.password2 }}
        </div>
        <div class="form-group">
            <input type="submit" value="Cadastrar" class="btn btn-primary">
        </div>
        
    </form>
{% endblock content %}